@model IEnumerable<Clinic.Models.Service>

@{
    Layout = "_LayoutAuthorizeAdmin";

    ViewData["Title"] = "Index";
}

<section class="rols">
    <p>Личный кабинет администратора</p>
</section>

<p class="dobro_poz">Список услуг</p>
<hr />
<p>
    <a asp-action="CreateServices">Добавить услугу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization.Id)
            </td>
            <td>
                    <a asp-action="EditServices" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="DetailsServices" asp-route-id="@item.Id">Подробно</a> |
                    <a asp-action="DeleteServices" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
