@{
    Layout = "_LayoutAuthorizePatient";

    List<Appointment> appointments = ViewData["Appointments"] != null ? (List<Appointment>)ViewData["Appointments"] : null;

    List<Doctor> doctors = ViewData["Doctors"] != null ? (List<Doctor>)ViewData["Doctors"] : null;
    List<Specialization> specializations = ViewData["Specialization"] != null ? (List<Specialization>)ViewData["Specialization"] : null;
    List<Service> services = ViewData["Services"] != null ? (List<Service>)ViewData["Services"] : null;
    List<Time> times = ViewData["times"] != null ? (List<Time>)ViewData["times"] : null;

}

<section class="rols">
    <p>Личный кабинет</p>
</section>

<p class="dobro_poz">Записи на приём</p>
<hr />

@{
    String time = null;
}

@foreach(var item in appointments) {
    <div class="simple_text">
    @if(item.Status == 1 || item.Status == 2) {
    <p>Дата: @item.DateOfAppointment.ToString("dd':'MM':'yy")</p>        
    @if (doctors.Any(a=>a.Id==item.DoctorId && a.WorkShift == 1)){
            
            <p>Время: @times.Where(a => a.Id == item.Id).Select(a => a.timeOnlyMorning).FirstOrDefault().ToString("hh':'mm")</p>
    } else {
            <p>Время: @times.Where(a=>a.Id == item.Id).Select(a=>a.timeOnlyEvening).FirstOrDefault().ToString("hh':'mm")</p>
    }

    <p>Врач: @doctors.Where(a=>a.Id == item.DoctorId).Select(a=>a.Name).FirstOrDefault()
            @doctors.Where(a=>a.Id == item.DoctorId).Select(a=>a.Surname).FirstOrDefault()
            @doctors.Where(a=>a.Id == item.DoctorId).Select(a=>a.Fathername).FirstOrDefault()
    </p>
        <p>Услуга:  @services.Where(a=>a.Id == item.ServiceId).Select(a=>a.ServiceName).FirstOrDefault()</p>
    <p>Специализация: @specializations.Where(a=>a.Id == @services.Where(a=>a.Id == item.ServiceId).Select(a=>a.SpecializationId).FirstOrDefault()).Select(a=>a.SpecializationName).FirstOrDefault()</p>
    


    <a asp-action="DeleteAppointments" asp-route-id=@item.Id>Отменить запись</a>
    
}
    <hr>
    </div>
}
